body {
    font-family: Arial, sans-serif;
    background: url('fundo2.jpg') no-repeat center center fixed; 
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffffdb;
    text-align: center;
}

.retangulo {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.capitulos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.capitulo-btn {
    background-color: #00cbeaaa;
    color: #ffffffdb;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 8px;
}

.capitulo-btn:hover {
    background-color: #00cbeaaa;
    transform: scale(1.05);
}
